<div class="main-content">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Raffaele Velotti's Profile</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-2">
                                  <p class="card-category">Name:</p>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">Raffaele Velotti</h4>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">
                                  <p class="card-category">Address:</p>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">Naples, Metropolitan City of Naples 80011, Italy</h4>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">
                                  <p class="card-category">Education:</p>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">Bachelor of engineering | University of Trieste</h4>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-2">
                                  <p class="card-category">Email:</p>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">canticchiando456@gmail.com</h4>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="">
                          <img class="img" src="./assets/img/faces/raffaele.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Raffaele Velotti</h4>
                      <p class="card-description">
                          I am a .NET and Angular developer.<br />This site is built with .NET Core 2.2 and Angular7.
                      </p>                      
                  </div>
              </div>
          </div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">.NET Full Stack | Angular Developer</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-12">
                                  <p class="text-danger">
                                      I am a .NET full-stack developer having more than 5 years of experience working with technologies such as ASP.Net(MVC / Web Forms / SingalR / WebAPI), ASP.Net core(MVC / Web API / SignalR),
                                      C#, SQL Server, web server, Entity Framwork, WCF, WPF, LINQ.
                                      <br />And I have experience in Angular JS/2+ and Bootstrap 3/4.
                                  </p>
                              </div>
                          </div>
                          <div class="row">
                              <ul>
                                  <li>5 years experience in .Net technology using ASP.NET, C#, Entity Framework.</li>
                                  <li>2 year experience in .Net Core, ASP.NET Core, EF Core</li>
                                  <li>6 years of web client technologies in Angular, Bootstrap, CSS, jQuery...</li>
                                  <li>relational database design and experience using MSSQL Server, MySQL, ADO.NET<li>
                                  <li>experience in WCF, Web Services</li>
                                  <li>experinece of Object Oriented software analysis and design.</li>
                              </ul>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
