
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Portofolio</h4>
          </div>
          
            <div class="card-body">

                <div class="row">
                    <div class="col-md-7">
                        <img class="img-thumbnail" src="./assets/img/portofolio/01.png" />
                    </div>
                    <div class="col-md-5">
                        <div class="alert alert-info" style="position: relative">
                            <h3 class="card-title">Notifications</h3>
                            <p class="card-category">
                                Handcrafted by our friend
                            </p>
                        </div>
                        <a href="http://Peer2utor.com/" class="btn btn-primary">View Website</a>
                    </div>
                </div>
                
            </div>

          
      </div>
  </div>
</div>
